*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#F4DEB3;

}
.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 60px;
    width: 116px;

}
.logo{
    background-image: url('amazon1.png');
    background-size:cover;
    padding-top: 4px;
    height: 50px;
    width: 116px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/* .nav-address{
    height: 60px;
    width: 90px;
    padding: 10px;
    padding-left: 20px;
} */


/* box-2 */
.add-icon{
    display: flex;
    align-items: center;
    margin-left: 10px;
    
}
.address-first{
    color: #cccccc;
    font-size: small;
    margin-left: 18px;
}
.address-second{
    font-size: large;
    margin-left: 1px;
}

/* box-3 */
.search-bar{
    display: flex;
    justify-content: space-evenly;
    background: #febd68;
    height: 40px;
    width: 620px;
    border-radius: 4px;
    text-align: center;

    /* padding-top: 10px;
    margin-left: -1px; */
}
.search{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-select{
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    width: 50px;
}
.search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #131921;
}
.search-bar:hover{
    border: 2px solid orangered;
}

/* box-4 and box-5 */
span{
    font-size: 0.8rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box-6 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* for panel */
.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.panel-ops{
    width: 90%;
    font-size: 0.85rem;
    /* font-weight: 700; */
    /* margin-left: 100px; */
}
.panel-ops p{
    height: 40px;
    display: inline;
    margin-left: 10px;

}
.panel-all{
    font-size: 0.85rem;
    font-weight: 700;
}

/* hero-section */
.hero-section{
    height: 350px;
    background-image: url("image_1.jpg");
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    width: 90%;
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
p>a{
    color:#007185;
}

/* shop-section */
.shop-section{
    display:flex;
    justify-content: space-evenly;
    background-color:#F4DEB3;
    margin-top: 1rem;
}
.box{
    height: 400px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    padding: 20px 0px 20px;
}
.box_img{
    margin-top:15px ;
    margin-bottom: 15px;
    height: 320px;
    background-size: cover;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

/* footer */
footer{
    margin-top: 20px;
}
.foot-panel-1{
    background-color: #37475a;
    color: white;
    font-size: 0.85rem;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel-2{
    height: 500px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.01rem solid white;
    /* align-items: center; */
}
ul{
    margin-top: 20px;
}
ul a{
    display:block;
    font-size: 0.8rem;
    margin-top: 10px;
    color: #dddddd;
}
ul a:hover{
    cursor: pointer;
    text-decoration: underline;
}
ul p{
    font-size: 1rem;
    font-weight: 700;
}
.foot-panel-3{
    height: 70px;
    background-color: #131921;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.01rem solid white;
}
.foot-panel-4{
    height: 70px;
    background-color: #131921;
    color: white;
    font-size: 0.7rem;
    /* display: flex; */
    align-items: center;
    text-align: center;
}
.pages{
    padding-top: 30px;
}
.copyright{
    padding-top: 5px;
    font-weight: 700;
}
.pages a{
    margin-right: 1rem;

}
.pages a:hover{
    cursor: pointer;
    text-decoration: underline;
}